.nav{
    height: 68px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(46, 46, 46, 0.623);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav__img img{
    width: 60px;
}
.nav__icon{
    flex: 0.54;
}
.heading{
    margin-left: 10px;
}

@media only screen and (max-width: 700px) {
    .heading{
        font-size: 1.2rem;
    }
    .nav__img img{
        width: 40px;
    }
}